$color1: rgba(144, 202, 249, 0.46);


.btn_box {}

.btn_add {
  min-height: 24px;
  padding: 0 15px;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #2196f3;
}

.btn_cancel {
  &:hover {
    border-radius: 6px;
    background-color: rgba(244, 67, 54, 0.04);
  }
}

input {
  display: inline-block;
  vertical-align: middle;
}

input.basic {
  min-height: 32px;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid transparent;
}


.ipt_box {
  .basic {
    &:hover, &:focus {
      border-color: rgba(0,0,0, 0.23);
      background-color: #fff;
    }
  }
}


.col_box {
  display: flex;
  justify-content: center;
  align-items: center;

  .btn_box {
    width: 20px;
    height: 20px;
  }
}